<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>TODO supply a title</title>
</head>
<body>
    <div>Фильмов с таким именем <span th:text="${movieName}"></span> не найдено</div>

    <form action="#" th:action="@{/search-movie-page}" method="get">
        <button th:href="@{/create-movie-page}">Create new film</button>
    </form>

    <form th:action="@{/movie/import-movie}" method="post">
        <input name="movieName" th:value="${movieName}" type="hidden" />
        <button type="submit">Import Movie from IMDb</button>
    </form>
</body>
</html>
